/* ==========================================
            RESET & BASE STYLES
========================================== */

/* Reset */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* HTML */

html{
    scroll-behavior:smooth;
    font-size:16px;
}

/* Body */

body{

    font-family:var(--font);

    background:var(--bg);

    color:var(--text);

    overflow-x:hidden;

    line-height:1.6;

    -webkit-font-smoothing:antialiased;

}

/* Selection */

::selection{

    background:var(--primary);

    color:var(--white);

}

/* Scrollbar */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#edf2f7;
}

::-webkit-scrollbar-thumb{

    background:var(--primary);

    border-radius:50px;

}

::-webkit-scrollbar-thumb:hover{

    background:var(--primary-dark);

}

/* Typography */

h1,h2,h3,h4,h5,h6{

    color:var(--text);

    font-weight:var(--bold);

}

p{

    color:var(--text-light);

}

a{

    text-decoration:none;

    color:inherit;

}

li{

    list-style:none;

}

/* Media */

img{

    width:100%;

    display:block;

    user-select:none;

}

video{

    width:100%;

    display:block;

}

/* Form */

button,
input,
textarea,
select{

    border:none;

    outline:none;

    background:none;

    font-family:inherit;

}

button{

    cursor:pointer;

}

:where(a,button,input,textarea,select):focus-visible{
    outline:3px solid var(--primary-light);
    outline-offset:3px;
}

textarea{

    resize:none;

}

/* Container */

.container{

    width:min(92%,var(--container));

    margin:auto;

}

/* Section */

section{

    padding:100px 0;

}

/* Utility */

.flex{

    display:flex;

}

.grid{

    display:grid;

}

.text-center{

    text-align:center;

}

.hidden{

    display:none;

}

/* Transition */

a,
button,
img,
input{

    transition:var(--transition);

}

/* Remove Blue Tap */

*{

    -webkit-tap-highlight-color:transparent;

}
